<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="USP_ExternalNugetPackage" value="https://unitysc.pkgs.visualstudio.com/UnityControl/_packaging/USP_ExternalNugetPackage/nuget/v3/index.json" protocolVersion="3" />
	<!--  ANALYSE_release should no longer be used, like Hélios Stage artefact -->
	<!-- <add key="ANALYSE_release" value="https://unitysc.pkgs.visualstudio.com/UnityControl/_packaging/ANALYSE_release/nuget/v3/index.json" protocolVersion="3" />	 -->
	<add key="USP_AlgosNugetPackage" value="https://unitysc.pkgs.visualstudio.com/UnityControl/_packaging/USP_AlgosNugetPackage/nuget/v3/index.json" protocolVersion="3" />	
  </packageSources>
</configuration>